<div class="flow-root bg-blue-500">

<p class="text-white float-left text-xl mb-3 py-5 px-4 font-bold">Shipped</p>

<button class="bg-blue-500 float-right h-full hover:bg-blue-700 text-white font-bold py-7 px-4  focus:outline-none focus:shadow-outline" id='register'(click)="register()">
  Register
</button>
<button    class="bg-blue-500 float-right	h-full hover:bg-blue-700 text-white font-bold py-7 px-4  focus:outline-none focus:shadow-outline" id='login' (click)="login()">
  Login
</button>
<button class="bg-blue-500 float-right h-full hover:bg-blue-700 text-white font-bold py-7 px-4  focus:outline-none focus:shadow-outline"id='logout' (click)="logout()">
  logout
</button>
</div>

<!-- class="inline-block leading-none mt-4 lg:mt-0">-->

