<app-tracking (newItemEvent)="addItem($event)" [items]="items.data"></app-tracking>

<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
  <input type="text" formControlName="code">
  <select name="cars" id="cars" formControlName="carrier">
    <option value="royal-mail">royal-mail</option>
    <option value="ups">ups</option>
    <option value="dhl">dhl</option>
    <option value="parcel-force">parcel-force</option>
    <option value="fedex">fedex</option>
    <option value="usps">usps</option>
  <option value="usps-international">usps-international</option>
  </select>
  <input type="submit" [disabled]="addForm.invalid">
</form>


<app-show-item [item]="selectedItem"></app-show-item>